@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: #e8e8e8;
    margin: 0px;
    padding: 0px;
}
header{
    font-family: open sans;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
}
header > nav > a:hover {
    color: #e87d0d;
    }
header > nav{
    display: flex;
    align-items: center;
    font-size: 20px;
}
header > nav > img {
    width: 150px;
    margin-right: 120px;
}
header > nav > a{
    color: #265787;
    text-decoration: none;
    margin-right: 100px;
}
.btnfc{
    font-family: open sans;
    background-color: #6385a8;
    color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}
.btnfc:hover {
    background-color: #ffffff;
    color: #e87d0d;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    transform: scale(1.1);
}

.supaluna{
    width: 100%;
    display: flexbox;
    
}
.supaluna > img{
    width: 100%;
    height: auto;
    display: flex;
}

#ffooter {
    background-color: white;
    height: 400px;
}


#ffooter > nav {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}

#ffooter > nav > div > a {
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    text-decoration: none;
    margin: 0; 
    color: #265787;
    border-radius: 10px;
    margin-top: 50px;
    font-family: open sans;
}
.livro:hover {
    transition: background-color 0.3s ease, transform 0.3s ease; 
    transform: scale(1.1);
}

#ffooter > nav > div > a > img {
    width: 150px; 
    margin-bottom: 10px;
    border-radius: 10px;
}


.livro:hover a {
    background-color: rgba(255, 255, 255, 0.267);
    transition: 0.4s;
    color: #ffffff;
    background-color: #6385a8;
}

#assista{
    background-image: url(imagens/fundo.png);
    display: flex;
    align-items: center;
    justify-content:center;
    
}
#assista > nav{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
}
#assista > nav > div > div > a{
    font-family: open sans;
    
}
#organiza{
    display: flex;
    align-items: center;
    justify-content:center;
}
#assista > nav > div > div > a >img{
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}
#organiza{
    display: flex;
    align-items: center;
    justify-content:center;
}
#assista > nav > div > h1{
    color: white;
    font-family: open sans;
    font-weight: bold;
    display: flex;
    margin-right: 650px;
    font-size: 50px;
    
}
#fim{
    width: 100%;
    display: flexbox;
}
#fim > img{
    width: 100%;
    height: auto;
    display: flex;
}